# Laravel
/vendor
/.phpunit.cache
/.phpunit.result.cache
.env*
!.env.example
/storage/*.key
/storage/pail
/storage/lezada
/storage/telescope
/storage/horizon
/public/storage
/public/build
/public/dist
/public/hot
/public/themes

# Node / Frontend
/node_modules
/package-lock.json
/yarn.lock
/npm-debug.log
/yarn-error.log

# Editor Config
/.idea/
/.vscode/
/.fleet/
/.zed/
/.devcontainer/
/.nova

# Docker
/docker

# Python venv
/scripts/venv/

# Composer
composer.lock
auth.json
.phpactor.json
.phpstorm.meta.php

# OS-generated
.Zone.Identifier
Thumbs.db
Desktop.ini

# TypeScript/Blade Theme Folders
/resources/ts/themes/*
!/resources/ts/themes/.gitkeep

# Homestead
Homestead.json
Homestead.yaml

# Issue tracking
/_issue
